@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

@layer components {
  @keyframes slide {
    0% {
      transform: translateY(-100%);
    }
    60% {
      transform: translateY(25%);
    }
    100% {
      transform: translateY(0%);
    }
  }
  @keyframes slide-leave {
    0% {
      transform: translateY(0);
      opacity: 1;
      visibility: visible;
    }
    60% {
      transform: translateY(-125%);
      opacity: 0.1;
      visibility: visible;
    }
    100% {
      transform: translateY(-200%);
      opacity: 0;
    }
  }
  @keyframes fade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes shake {
    10%,
    90% {
      transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
      transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
      transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
      transform: translate3d(4px, 0, 0);
    }
  }
  .wrong {
    animation-name: shake;
    animation-duration: 1s;
  }

  .main-header {
    @apply flex justify-around p-4 items-center w-screen;
    background-color: #ed1941;
  }
  .main-header img {
    @apply w-1/5 md:w-1/10;
  }
  .main-header a {
    @apply transform text-2xl text-center md:text-5xl hover:scale-105 duration-200 text-white;
    font-family: "Montserrat", sans-serif;
  }
  .main-header svg {
    @apply fill-current text-white transform transition-all hover:scale-110 cursor-pointer;
  }

  .main-container {
    @apply flex flex-col w-screen justify-center items-center h-screen;
  }

  .form-container {
    @apply flex w-4/5 h-3/5 lg:w-1/5 lg:h-2/5 text-white my-auto justify-center items-center p-4 rounded shadow-xl;
    background-color: #ed1941;
    animation-name: fade;
    animation-duration: 2s;
  }

  .form-container img {
    @apply my-auto;
  }

  .form-container label {
    @apply flex flex-col m-2 w-11/12 h-1/5;
  }
  .form-container label p {
    @apply text-xs;
  }
  .form-container input {
    @apply h-full;
  }
  .form-container form {
    @apply flex flex-col items-center justify-around w-full h-full;
    font-family: "Montserrat", sans-serif;
  }

  .form-container button {
    @apply transform duration-300 my-auto bg-white text-black p-4 focus:outline-none rounded hover:scale-110 hover:shadow-inner;
  }

  .main-tomorrow {
    @apply h-screen w-screen flex justify-center items-center;
    background-color: #ed1941;
  }

  .main-tomorrow h1 {
    @apply text-5xl font-thin text-center animate-pulse text-white;
  }

  .main-tomorrow b {
    @apply font-bold;
  }
  .created {
    @apply flex flex-col h-full justify-around;
  }

  .created h1,
  .created a {
    @apply text-center text-3xl ml-auto;
  }

  .table-container {
    @apply w-8/12 h-3/5 text-center font-extralight rounded-lg z-0 my-auto shadow-xl;
    font-family: "Montserrat", sans-serif;
    background-color: #ed1941;
  }
  .table-container th {
    @apply text-2xl p-4 text-white;
  }
  .table-container tr {
    @apply transform hover:shadow-2xl cursor-pointer border-black hover:translate-x-1 hover:translate-y-1 bg-white m-2 transition-all;
  }

  .table-container td {
    @apply text-red-500 border-2 border-red-500;
  }

  .log-container {
    @apply absolute flex justify-center items-center flex-col w-6/12 h-2/5 text-white shadow-2xl border-white;
    font-family: "Montserrat", sans-serif;
    background-color: #ed1941;
    animation-name: fade;
    animation-duration: 0.4s;
    top: 30%;
  }
  .log-container h1 {
    @apply text-3xl;
  }
  .log-container p {
    @apply mb-40;
  }

  .side-menu {
    @apply absolute flex flex-col justify-center items-start p-4 rounded h-1/5 w-3/5 lg:w-1/6 bg-red-500 z-40 text-xl shadow-xl;
    font-family: "Montserrat", sans-serif;
    left: 0%;
    top: 30%;
  }
  .slide {
    animation-name: slide;
    animation-duration: 1s;
  }
  .slide-leave {
    animation-name: slide-leave;
    animation-duration: 1s;
    opacity: 0;
    visibility: hidden;
  }

  .start {
    opacity: 0;
    visibility: hidden;
  }

  .side-menu button {
    @apply text-black duration-300 hover:text-white;
  }

  .page-list {
    @apply flex justify-center items-center w-2/5 h-1/6;
  }
  .page-list button {
    @apply transform m-4 transition-all bg-red-500 w-20 h-16 hover:scale-110 rounded-xl focus:animate-pulse focus:outline-none text-2xl text-white;
  }

  .filter-form-container {
    @apply flex mx-auto justify-center items-center mt-4 rounded-lg w-3/5;
    background-color: #ed1941;
  }
  .filter-form-container * {
    @apply m-2;
  }

  .filter-form-container select {
    @apply bg-white rounded-lg text-center focus:outline-none;
  }

  .filter-form-container button {
    @apply transform bg-white rounded-lg text-center p-1 transition-all hover:scale-110;
  }

}

@layer base {
  input {
    @apply focus:border-b-4  text-sm duration-300 rounded focus:outline-none focus:border-black text-black text-center;
  }
  a {
    @apply text-black duration-300 hover:text-white;
  }
}
